* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  transition: .3s;
  height: 50px;
}

.fixed-header {
  background-color: #D0D0D0;
  height: 50px;
}

.header-nav {
  height: 100%;
  float: right;
  display: none;
  align-items: center;
  margin-right: 5%;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
}

.fixed-footer {
  background-color: #D0D0D0;
  height: 100%;
}

.footer-nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  width: 100%;
}

.footer-nav a {
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-btn {
  color: black;
  text-decoration: none;
}

.current {
  text-decoration: underline;
  text-underline-position: under;
}

.nav-btn:hover {
  background-color: plum;
}

.content{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 60px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}
.content-panel {
  background-color: #F0F0F0;
  margin: 10px 0px;
}

.inner-content {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}


.logo-outer {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  margin-left: 5%;
}

.logo-inner {
  display: flex;
  align-items: center;
  height: 80%;
}

.logo {
  max-width: 100%;
  max-height: auto;
}

.header-nav a{
  padding: 10px;
}

#persona-img, #scenario-img, #test-home{
  width: 100%;
  max-width: 600px;
  height: auto;
  border: solid black 1px;
}
#process-svg {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 600px) {
  .header-nav{
    display: flex;
  }
  footer {
    display: none;
  }

  .content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.slide-container {
  max-width: 1000px;
  margin: auto;
  width: 100%;
  justify-content: center;
  display: flex;
}
.prev, .next {
  cursor: pointer;
  width: auto;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.screens-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slide-nav {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.slide-btns {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 50px;
}

.slide-btn {
  border-radius: 50%;
  color: black;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.active{
  background-color: #717171;
}

.video-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.ucde-video {
  width: 300px;
  margin: 0;
}
